.selected-color-wrapper {
  display: inline-block;

  .selected-color {
    position: relative;
    display: block;
    width: 1rem;
    height: 1rem;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: calc(100% - 3px);
      height: calc(100% - 3px);

      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      background-color: var(--selected-color);
      border-radius: 100%;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;

      background-color: var(--selected-color);
      filter: brightness(0.4);
      border-radius: 100%;
    }
  }
}
