<app-menu-item-base-popup [isOpened]="isPopupOpen" (input)="validate()">
  <ng-container inputs>
    <app-menu-item-popup-input-color-palette [name]="INPUTS.COLOR" [palette]="palette" [required]="true"></app-menu-item-popup-input-color-palette>
  </ng-container>
  <ng-container actions>
    <div>
      <button [disabled]="!isValid" (click)="acceptPopup()">
        Set
        <span class="selected-color-wrapper"><div class="selected-color" [ngStyle]="{'--selected-color': selectedColor}"></div></span>
        color
      </button>
    </div>
  </ng-container>
</app-menu-item-base-popup>
