.popup {
  position: absolute;
  display: none;

  top: 120%;
  left: 50%;
  transform: translateX(-50%);

  background-color: #f5f5f5;
  border: 1px solid #172b4d;
  border-radius: 0.5rem;

  padding: 0.5rem;

  &.show {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 0.5rem;
  }

  .popup-actions {
    display: flex;
    justify-content: space-between;
  }
}
