app-menu-item-base-popup {
  button {
    background-color: #172b4d;
    color: white;

    border-radius: 0.25rem;

    padding: 0.25rem;

    &[disabled] {
      opacity: 0.3;
    }

    &:not([disabled]) {
      cursor: pointer;
    }
  }
}
