.popup-input {
  $size: 1.5rem;
  $gap: 0.25rem;

  display: grid;
  grid-template-columns: repeat(7, $size);
  grid-auto-rows: $size;

  gap: $gap $gap;

  $color-light-check: black;
  $color-dark-check: white;

  $color-border: #c0c0c0;
  $color-shadow: #989898;

  .radio-base {
    position: relative;

    &.primary {
      grid-row: 1 / 3;
      grid-column: 1 / 3;
    }

    .radio-button {
      position: relative;
      visibility: hidden;

      width: 100%;
      height: 100%;

      cursor: pointer;

      &:checked ~ .check {
        display: block;
      }

      &:hover::before,
      &:has(~ .check:hover)::before {
        box-shadow: $color-shadow 0 0 4px 0;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        visibility: visible;
        width: 100%;
        height: 100%;

        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        background-color: var(--palette-color);
        border-radius: 100%;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        visibility: visible;
        width: 100%;
        height: 100%;

        background-color: $color-border;
        border-radius: 100%;
      }
    }

    .check {
      display: none;
      pointer-events: none;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      color: $color-light-check;
      width: 85%;
      height: 85%;
    }

    // Dark color
    &.dark .check {
      color: $color-dark-check;
    }

    // Framed color option
    &.framed .radio-button::after {
      width: calc(100% - 2px);
      height: calc(100% - 2px);
    }
  }
}
