<div class="popup-input">
  <div *ngIf="palette.primary; let primaryColor"
       class="radio-base primary" [ngClass]="{ dark: primaryColor.dark, framed: primaryColor.framed }">
    <input class="radio-button"
           type="radio"
           [id]="id + '-palette-' + (primaryColor.value || 'default')"
           [name]="name"
           [value]="primaryColor.value"
           (change)="onChange($event)"
           [checked]="_value === primaryColor.value"
           [title]="primaryColor.tooltip"
           [ngStyle]="{ '--palette-color': primaryColor.display }"
    >
    <app-svg-icon class="check" name="check"></app-svg-icon>
  </div>
  <div *ngFor="let color of palette.list"
       class="radio-base" [ngClass]="{ dark: color.dark, framed: color.framed }">
    <input class="radio-button"
           type="radio"
           [id]="id + '-palette-' + (color.value || 'default')"
           [name]="name"
           [value]="color.value"
           (change)="onChange($event)"
           [checked]="_value === color.value"
           [title]="color.tooltip"
           [ngStyle]="{ '--palette-color': color.display }"
    >
    <app-svg-icon class="check" name="check"></app-svg-icon>
  </div>
</div>
