.item {
  position: relative;
  display: block;

  $button-size: 24px;
  width: $button-size;
  height: $button-size;

  background-color: transparent;
  border: none;
  border-radius: 0.2rem;


  &.active,
  &:disabled {
    background-color: #172b4d;
  }

  &.active {
    .icon {
      filter: invert(100%);
    }
  }

  &:disabled {
    opacity: 0.4;

    .icon {
      filter: invert(100%);
    }
  }

  &.hidden {
    display: none;
  }

  $tooltip-bottom-from: 90%;
  $tooltip-bottom-to: 110%;
  $tooltip-transition-duration: 200ms;
  $tooltip-transition-delay: 350ms;

  .tooltip {
    opacity: 0;
    visibility: hidden;

    color: white;
    background-color: #172b4d;

    position: absolute;
    //top: calc(100% + 0.7rem);
    left: 50%;
    transform: translateX(-50%);

    bottom: $tooltip-bottom-from;
    transition:
      bottom $tooltip-transition-duration ease-in-out 0s,
      opacity $tooltip-transition-duration ease-in-out 0s,
      visibility $tooltip-transition-duration ease-in-out 0s;

    width: max-content;
    height: max-content;

    font-size: 0.8rem;

    padding: 0.25rem 0.4rem;
    border-radius: 0.2rem;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
    bottom: $tooltip-bottom-to;
    transition-delay: $tooltip-transition-delay;
  }
}
