<div class="base" #base (focusout)="itemFocusLost($event)">
  <button [ngClass]="{
    item: true,
    active: MenuItemStatus.ACTIVE === status || isPopupOpen
  }"      [disabled]="MenuItemStatus.DISABLED === status"
          (click)="isPopupOpen ? closePopup() : openPopup()">
    <img class="icon" [src]="iconPath(payload)" [alt]="tooltip ?? ''">
    <div class="tooltip" *ngIf="tooltip">{{ tooltip }}</div>
  </button>

  <div #popup [ngClass]="{ 'popup': true, show: isPopupOpen }" tabindex="-1">

    <label>Image URL</label>
    <input #imageReference name="link-reference" (input)="validateInput()">

    <label>Title</label>
    <input #imageTitle name="link-reference">

    <div class="popup-actions">
      <button [disabled]="!canInsertImage" (click)="createImage()">Create</button>
    </div>
  </div>

</div>
