<div #itemBase
     class="base"
     (mousedown)="preventLosingEditorFocus($event)"
     (focusout)="popupFocusLost($event)"
     tabindex="-1"
>
  <button [ngClass]="{
            item: true,
            active: MenuItemStatus.ACTIVE === status,
            hidden: MenuItemStatus.HIDDEN === status
          }"
          [disabled]="MenuItemStatus.DISABLED === status"
          (click)="view && (popup ? popup.togglePopup(view.state) : executeCommand())"
  >

    <img *ngIf="icon" class="icon" [src]="iconPath(icon)" [alt]="tooltip ?? ''">
    <div *ngIf="text" class="text">{{ text }}</div>

    <div *ngIf="tooltip" [ngClass]="{ tooltip: true, disabled: popup?.isOpened }">{{ tooltip }}</div>

  </button>

  <ng-container #popupContainer></ng-container>
</div>
