<div class="base" (mousedown)="preventLosingEditorFocus($event)">
  <button [ngClass]="{
            item: true,
            active: MenuItemStatus.ACTIVE === status,
            hidden: MenuItemStatus.HIDDEN === status
          }"
          [disabled]="MenuItemStatus.DISABLED === status"
          (click)="!action.popup && onClick()"
  >

    <img *ngIf="icon" class="icon" [src]="iconPath(icon)" [alt]="tooltip ?? ''">
    <div *ngIf="text" class="text">{{ text }}</div>

    <div *ngIf="tooltip && (!popup || !popup.isOpened)" class="tooltip" >{{ tooltip }}</div>

    <ng-container #popupContainer></ng-container>

  </button>
</div>
