.wrapper {
  font-family: Helvetica, serif;

  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #d0d0d0;

  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    text-align: center;

    font-size: 4rem;
    background: linear-gradient(45deg, #2f79c0, #00d4ff, #2f79c0);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    width: fit-content;

    animation-name: waves;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  &:hover .title {
    background-color: #f3f3f3;
  }

  & > * {
    display: block;
    margin: 1rem;
    padding-block: 0.5rem;
    width: 100%;
  }

}

@keyframes waves {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 200%;
  }
}
