@import "node_modules/katex/dist/katex.css";

.text-editor {
  // Overflow pass
  display: flex;
  flex-direction: column;
  overflow: auto;

  app-menu {
    position: sticky;
    top: 0;

    display: block;
    margin-bottom: 0.5rem;

    background-color: white;
  }

  *:focus-visible {
    outline: none;
  }

  .prosemirror-wrapper {
    overflow: auto; // Element that scrolls
    overflow-wrap: normal;

    padding-inline: 0.25rem;

    .ProseMirror {
      white-space: pre-wrap;

      &.ProseMirror-focused {
        border: initial;
      }
    }
  }
}
