.text-editor {
  overflow: hidden;

  app-menu {
    position: sticky;
    top: 0;
    z-index: 10;

    display: block;
    margin-bottom: 0.5rem;

    background-color: white;
  }

  *:focus-visible {
    outline: none;
  }

  .prosemirror-wrapper {
    overflow-wrap: normal;

    padding-inline: 1rem;

    .ProseMirror {
      white-space: pre-wrap;

      &.ProseMirror-focused {
        border: initial;
      }

      .ProseMirror-separator {
        display: none;
      }
    }
  }
}
