.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.3rem 0.075rem;

  min-height: 1.5rem;
  width: 100%;

  .section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    flex: 1;

    &:not(:last-of-type) {
      border-right: 1px solid black
    }

    &:not(:first-of-type) {
      margin-left: 0.3rem;
    }
  }
}
