<div class="menu">
  <ng-container *ngIf="view">
    <div class="section">
      <app-menu-mark-item [type]="MARK_TYPES.strong"
                          payload="bold"
                          tooltip="Bold"
      ></app-menu-mark-item>
      <app-menu-mark-item [type]="MARK_TYPES.em"
                          payload="italic"
                          tooltip="Italic"
      ></app-menu-mark-item>
      <app-menu-mark-item [type]="MARK_TYPES.underline"
                          payload="underline"
                          tooltip="Underline"
      ></app-menu-mark-item>
      <app-menu-mark-item [type]="MARK_TYPES.strikethrough"
                          payload="strikethrough"
                          tooltip="Strikethrough"
      ></app-menu-mark-item>
      <app-menu-mark-item [type]="MARK_TYPES.superscript"
                          payload="superscript"
                          tooltip="Superscript"
      ></app-menu-mark-item>
      <app-menu-mark-item [type]="MARK_TYPES.subscript"
                          payload="subscript"
                          tooltip="Subscript"
      ></app-menu-mark-item>
      <app-menu-mark-item [type]="MARK_TYPES.code"
                          payload="code"
                          tooltip="Inline code"
      ></app-menu-mark-item>
    </div>

    <div class="section">
      <app-menu-link-item payload="link"
                          tooltip="Hyperlink"
      ></app-menu-link-item>
      <app-menu-remove-element-item [type]="MARK_TYPES.link"
                                    payload="link-remove"
                                    tooltip="Delete hyperlink"
      ></app-menu-remove-element-item>
      <app-menu-image-item payload="image"
                           tooltip="Add image"
      ></app-menu-image-item>
    </div>

    <div class="section">
      <app-menu-create-table-item payload="table-plus"
                                  tooltip="Create table"
      ></app-menu-create-table-item>
      <app-menu-remove-element-item [type]="NODE_TYPES.table"
                                    payload="table-remove"
                                    tooltip="Delete table"
      ></app-menu-remove-element-item>
      <app-menu-create-table-element-item [isColumn]="true"
                                          [isAfter]="false"
                                          payload="table-column-plus-before"
                                          tooltip="Add column before"
      ></app-menu-create-table-element-item>
      <app-menu-create-table-element-item [isColumn]="true"
                                          [isAfter]="true"
                                          payload="table-column-plus-after"
                                          tooltip="Add column after"
      ></app-menu-create-table-element-item>
      <app-menu-delete-table-element-item [isColumn]="true"
                                          payload="table-column-remove"
                                          tooltip="Delete column"
      ></app-menu-delete-table-element-item>
      <app-menu-create-table-element-item [isColumn]="false"
                                          [isAfter]="false"
                                          payload="table-row-plus-before"
                                          tooltip="Add row before"
      ></app-menu-create-table-element-item>
      <app-menu-create-table-element-item [isColumn]="false"
                                          [isAfter]="true"
                                          payload="table-row-plus-after"
                                          tooltip="Add row after"
      ></app-menu-create-table-element-item>
      <app-menu-delete-table-element-item [isColumn]="false"
                                          payload="table-row-remove"
                                          tooltip="Delete row"
      ></app-menu-delete-table-element-item>
      <app-menu-toggle-table-header-item headerType="CELL"
                                         payload="table-header"
                                         tooltip="Toggle header cell"
      ></app-menu-toggle-table-header-item>
      <app-menu-toggle-table-header-item headerType="ROW"
                                         payload="table-row-header"
                                         tooltip="Toggle header row"
      ></app-menu-toggle-table-header-item>
      <app-menu-toggle-table-header-item headerType="COLUMN"
                                         payload="table-column-header"
                                         tooltip="Toggle header column"
      ></app-menu-toggle-table-header-item>
    </div>

    <div class="section">
      <app-menu-node-item [type]="NODE_TYPES.paragraph"
                          payload="paragraph"
                          tooltip="Paragraph"
      ></app-menu-node-item>
      <app-menu-node-item [type]="NODE_TYPES.heading"
                          [attrs]="{ level: 1 }"
                          payload="header1"
                          tooltip="Header 1"
      ></app-menu-node-item>
      <app-menu-node-item [type]="NODE_TYPES.heading"
                          [attrs]="{ level: 2 }"
                          payload="header2"
                          tooltip="Header 2"
      ></app-menu-node-item>
      <app-menu-node-item [type]="NODE_TYPES.heading"
                          [attrs]="{ level: 3 }"
                          payload="header3"
                          tooltip="Header 3"
      ></app-menu-node-item>
      <app-menu-wrap-item [type]="NODE_TYPES.blockquote"
                          payload="blockquote"
                          tooltip="Quote text"
      ></app-menu-wrap-item>
      <app-menu-node-item [type]="NODE_TYPES.code_block"
                          payload="code-block"
                          tooltip="Code block"
      ></app-menu-node-item>
    </div>

    <div class="section">
      <app-menu-list-item [type]="NODE_TYPES.bullet_list"
                          payload="list-bullet"
                          tooltip="Bullet list"
      ></app-menu-list-item>
      <app-menu-list-item [type]="NODE_TYPES.ordered_list"
                          payload="list-ordered"
                          tooltip="Ordered list"
      ></app-menu-list-item>
      <!--  <app-menu-item [type]="view.state.schema.nodes['checklist']"-->
      <!--                        [status]="getNodeStatus('checklist')"-->
      <!--                        icon="list-check"-->
      <!--                        tooltip="Checklist"-->
      <!--  ></app-menu-item>-->
      <app-menu-indent-item [isIncrease]="false"
                            payload="indent-decrease"
                            tooltip="Decrease indent"
      ></app-menu-indent-item>
      <app-menu-indent-item [isIncrease]="true"
                            payload="indent-increase"
                            tooltip="Increase indent"
      ></app-menu-indent-item>
    </div>
  </ng-container>
</div>

