<div class="menu" *ngIf="view">
  <app-menu-mark-item [type]="customSchema.marks.strong"
                      icon="bold"
                      tooltip="Bold"
  ></app-menu-mark-item>
  <app-menu-mark-item [type]="customSchema.marks.em"
                      icon="italic"
                      tooltip="Italic"
  ></app-menu-mark-item>
  <app-menu-mark-item [type]="customSchema.marks.underline"
                      icon="underline"
                      tooltip="Underline"
  ></app-menu-mark-item>
  <app-menu-mark-item [type]="customSchema.marks.strikethrough"
                      icon="strikethrough"
                      tooltip="Strikethrough"
  ></app-menu-mark-item>
  <app-menu-mark-item [type]="customSchema.marks.code"
                      icon="code"
                      tooltip="Inline code"
  ></app-menu-mark-item>

  <div class="separator"></div>

  <app-menu-link-item icon="link"
                      tooltip="Hyperlink"
  ></app-menu-link-item>
  <app-menu-item  icon="remove_link"
                              tooltip="Delete hyperlink"
  ></app-menu-item>

  <div class="separator"></div>

  <app-menu-image-item icon="image"
                       tooltip="Add image"
  ></app-menu-image-item>

  <div class="separator"></div>

  <app-menu-node-item [type]="customSchema.nodes.paragraph"
                      icon="paragraph"
                      tooltip="Text paragraph"
  ></app-menu-node-item>
  <app-menu-node-item [type]="customSchema.nodes.heading"
                      [attrs]="{ level: 1 }"
                      icon="header1"
                      tooltip="Header 1"
  ></app-menu-node-item>
  <app-menu-node-item [type]="customSchema.nodes.heading"
                      [attrs]="{ level: 2 }"
                      icon="header2"
                      tooltip="Header 2"
  ></app-menu-node-item>
  <app-menu-node-item [type]="customSchema.nodes.heading"
                      [attrs]="{ level: 3 }"
                      icon="header3"
                      tooltip="Header 3"
  ></app-menu-node-item>
  <app-menu-list-item [type]="customSchema.nodes.blockquote"
                      icon="blockquote"
                      tooltip="Quote text"
  ></app-menu-list-item>
  <app-menu-node-item [type]="customSchema.nodes.code_block"
                      icon="code_block"
                      tooltip="Code block"
  ></app-menu-node-item>

  <div class="separator"></div>

  <app-menu-list-item [type]="customSchema.nodes.bullet_list"
                      icon="bullet_list"
                      tooltip="Bullet list"
  ></app-menu-list-item>
  <app-menu-list-item [type]="customSchema.nodes.ordered_list"
                      icon="ordered_list"
                      tooltip="Ordered list"
  ></app-menu-list-item>
  <!--  <app-menu-item [type]="view.state.schema.nodes['checklist']"-->
  <!--                        [status]="getNodeStatus('checklist')"-->
  <!--                        icon="checklist"-->
  <!--                        tooltip="Checklist"-->
  <!--  ></app-menu-item>-->

  <div class="separator"></div>

  <app-menu-indent-item [isIncrease]="false"
                        icon="indent_decrease"
                        tooltip="Decrease indent"
  ></app-menu-indent-item>
  <app-menu-indent-item [isIncrease]="true"
                        icon="indent_increase"
                        tooltip="Increase indent"
  ></app-menu-indent-item>
</div>
