*, *:before, *:after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-style: inherit;
  border: none;
  background: transparent;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img, svg, picture {
  display: block;
  max-width: 100%;
}
